<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DTL</title>
</head>
<body>
    <h1> DTL Page <h1/>
    <h1> Hello From {{name}} <h1/>
    <h1> My name is {{student}} <h1/>

    {% for student in students %}
        Name: {{student.name}}
        age: {{student.age}}
        <br><br>
        {% endfor %} 
    {{students.0.name}}
    {{students.1.age}}

    {% for student in students %}
        {% if student.display == True %}
            Age: {{student.name}}
            <br>
            {% elif student.name == "alex" %}
                alex is funny<br>
        {%else%}
            No Data 
        {% endif%}
        
    {% endfor%}
    
</body>
</html>